
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- styles -->
    <link rel="stylesheet" href="../static/styles/default.css">
    
    <!-- scripts -->
    <script type="application/javascript" src="../static/scripts/websocket_client.js" defer></script>
    <!-- import socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <form id="login-form" method="post">
            <h1>Chat App</h1>
            <input type="text" name="username" id="username" placeholder="username">
            <input type="submit" value="Chat" id="chat-btn">
        </form>
    </main>
</body>
</html>